body{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  color: #ff9;
  text-shadow: -3px 3px 8px rgba(0,0,0,.9);
  background: rgba(50,50,40,0.3);
  
}

#container{
  width: 90%;
  padding: 2%;
  height: auto;
  margin: 30px auto;
  border-radius: 25px;
  box-shadow: -5px 5px 20px rgba(100,100,100,.8);
  background-image: url("https://dl.dropboxusercontent.com/u/49268757/textured_paper.png") ;
  background-position: fixed center;
  background-repeat: no-repeat;
  background-size: cover;
}

#city{
  padding-top:30px;  
}
section{
  margin-top:5px;
}
#temp{
  width: 60%;
  padding: 5px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 400%;
  
  background: rgba(0,100,0,0.3);
  border-radius: 25px;
  box-shadow: -5px 5px 20px rgba(100,100,100,.8);
}

ul li{
  list-style-type: none;
  display:inline;
  margin: 20px;
}

.smaller{
  font-weight: normal;
  font-size: smaller;
}

footer{
  font-size: 50%;
  font-weight: normal;
  position: relative;
  padding-top:20px;
  bottom:0px;
}
/*
@media screen and (max-width: 980px) {
    body {
        font-size:50px;
    }
}
*/
